* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: white;
  }

  body.darkMode {
    background-color: black;
    color: white;
  }
  body.darkMode * {
    background-color: black;
    color: white;
  }
  body.darkMode a[aria-current='page'] {
    background-color: black;
    color: white;
  }

  button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: larger;
    }
    button:focus {
        outline: none;
    }
  nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    padding: 0.1rem;
    gap: 2rem;
    /* border-bottom: solid 1px #aaa; */
    background-color:rgb(255, 255,255);
  }
  
  nav a {
    display: inline-block;
    /* min-width: 100%; */
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: rgba(255,255,255,0) solid 1px;
    text-align: center;
    text-decoration: none;
    color:rgb(0,0,0);
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-size: 28px;
  }
  
  nav a[aria-current='page'] {
    color: rgb(0,0,0);
    background-color: rgba(255,255,255,0);
  }

  
  h1 {
    font-family: var(--wp--preset--font-family--epilogue);
    /* font-weight: bold; */
    font-size: 28px;
    color: #444;
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  
  .headerClass {
    /* background-image: url(./images/image1.png); */
    /* background-size: cover;  */
    /* padding-top: 50px; */
    color: #fff;
    text-align: center;
    padding: 2em;
    height: 10vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #fff;
    font-family: 'Epilogue', sans-serif;
  }

  .leoFace {
    width: 20%;
    border-radius: 190rem;
    position: absolute;
    left: 5%;
    top: 20%;
  }
  .nameTitle {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: left;
    padding: 0.5rem;
    gap: 0.5rem;
    border-bottom: solid 1px #aaa;
    background-color: rgba(0,0,0,0);
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
  }
  .backgroundPic {
    width: 100%;
    background-image: url(./images/image1.png);
    background-size: cover;
    width: 100%;
    color:white;
    text-align: center;
    padding: 2em;
    height: 20vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #eee;
  }
  .collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    }
    .active, .collapsible:hover {
        background-color: #ccc;
    }
    .content {
        font-family: 'Epilogue', sans-serif;
        font-size: 24px;
        padding-top: 4%;
        padding-left: 30%;
        width: 95%;    
        line-height: 170%;
    }
    .projects {
        /* display: flex; */
        width: 100%;
    }
    .card {
        font-weight: 400;
        border: 0;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }
    .hoverable {
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: all 0.55s ease-in-out;
        transition: all 0.55s ease-in-out;
        transition-behavior: normal;
        transition-duration: 0.55s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
        transition-property: all;
        
    }
    .gridFig{
        width: 20%
    }
    .cardBody {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem;
    }

    